@media (min-width: 768px)
.col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 100.333333%;
}

.table {
    color: cornsilk;
}

.display-4 {
    color: coral;
}

.jumbotron {
    background-color: black;
}